.detailed-features {
  .detailed-features__item {
    margin: 40px auto;
    padding: 20px 200px 0px 40px;
    max-width: 700px;

    background: no-repeat 100% 50%;
    background-size: 45%;

    padding-right: 350px;
    min-height: 220px;

    h2 {
      text-align: left;
    }

    @media (max-width: 650px) {
      background-image: none !important;
      padding-right: 40px !important;
      min-height: 0 !important;
    }
  }
}
