.hero {
  min-height: 400px;

  position: relative;
  background: no-repeat 50% 50%;
  background-size: cover;
  color: #000;
  padding-top: 20px;
  text-align: center;
  font-family: Helvetica;

  /*&:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.2);
    z-index: 0;
  }*/

  h1 {
    color: #000;
    font-size: 3.3em;
    //text-shadow: 1px 1px 8px #000;
  }

  h2 {
    color: #000;
    font-size: 3em;
    //text-shadow: 1px 1px 8px #000;
  }

  h3 {
    color: #000;
    font-size: 2em;
    font-weight: normal;
    //text-shadow: 1px 1px 8px #000;
  }

  h4 {
    color: #000;
    font-size: 1.5em;
    //text-shadow: 1px 1px 8px #000;
  }

  h2,h3,h4 {
    //text-shadow: 1px 1px 10px #fff, -1px -1px 10px #fff;
  }

  .btn {
    font-size: 1.5em;
    //background: #4cae4c;
    //border-color: #398439;

    margin-top: 80px;
    z-index: 3;
  }
}
