.pricing-simple {
  text-align: center;

  h2 {
    margin-bottom: 30px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 20px;
    //border: 1px solid red;

    .image {
      //height: 150px;

      img {
        vertical-align: middle;
        //border: 1px solid green;
        max-width: 90%;
      }
    }
  }
}