//Custom fonts
@import url(//fonts.googleapis.com/css?family=Raleway:400,300);


//Variables
@screen-xs-max: 479px;
@bootstrap-xs-max: 768px;
@color1: #0f6db6;//#4998f6;
@color2: #aac326;//#2dbe60;
@textColor: #292828;

@font1: normal normal normal 1em 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
@font2: normal normal normal 1em 'Raleway', sans-serif normal;


//Main app styles
body {
  padding-top: 50px;

  color: #6d6d6d;
  font: @font1;
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.5em;
}

h1, h2, h3 {
  font: @font2;
  color: #292828;
}

h1 {
  font-size: 1.7em;
  font-weight: 300;
}

h2 {
  font-size: 1.85em;
  font-weight: 300;
}

h3 {
  font-size: 1.2em;
  font-weight: 600;
  color: @color1;
}


.btn {
  padding: 5px 40px;
  font-size: .9em;
  border-radius: 2px;
}

  .btn-primary {
    background-color: @color1;
    border-color: @color1;
  }


section {
  padding: 60px 0;

  h2 {
    margin-bottom: 30px;
    text-align: center;
  }
}

section.alt-section {
  background: #fafafa;
}


// Modules
@import url('../../views/components/header.less');
@import url('../../views/components/hero.less');
@import url('../../views/components/how-it-works.less');
@import url('../../views/components/lang-switcher.less');
@import url('../../views/components/pricing.less');
@import url('../../views/components/pricing-simple.less');
@import url('../../views/components/main-button.less');
@import url('../../views/components/one-line-features.less');
@import url('../../views/components/detailed-features.less');
@import url('../../views/components/text-block.less');
@import url('../../views/components/footer.less');
@import url('../../views/components/meta-editor.less');


// Custom override styles
@import url('../../../custom.less');