/*
@color1: #5476b5;
@color2: #000;
@textColor: #000;


header {
  .navbar {
    background: #fff;
    border: none;
  }

  .navbar-nav {
    a {
      color: #5476b5 !important;
    }
  }

  .navbar-brand {
    width: 120px;
    margin-left: 0 !important;
    background-size: 120px;
  }
}
*/